/*

	Main SCSS file that you use to import all the separate modules and then compile them to the css file
	----------------------------------------------------------------------------------------------------
	
	Om alle SCSS te compilen naar de main.css moet je in je Terminal deze code invoegen:
	
	1. 	Ga eerst naar de main folder "Lars-portfolio"
	
	2. 	Typ dan: sass --watch scss/main.scss:css/main.css
	
		Door deze command kijkt SASS naar veranderingen in de scss folder, 
		zodra je een aanpassing maakt aan een file die ge-Import is in de "main.scss" wordt het meteen gecompiled naar de main.css folder.

*/
/**************************************************

	In this file we place all the Variables ;)

**************************************************/
a, p,
h1, h2, h3,
h4, h5, h6,
span {
  color: #013D48;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 300; }

a {
  text-decoration: none !important;
  outline: none; }

.Header-wrap {
  padding: 10px;
  position: relative;
  margin: 0px auto;
  min-height: 560px;
  width: 100%;
  z-index: 10; }
  .Header-wrap .bg-img {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    backface-visibility: hidden;
    background-image: url("../img/background-header.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #282828; }

.Top-navigation {
  position: relative;
  z-index: 20; }
  .Top-navigation .Logo-wrap a {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    padding: 10px;
    display: inline-block;
    color: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease; }
    .Top-navigation .Logo-wrap a:hover {
      opacity: 0.7; }

.header-container {
  padding: 5%;
  overflow-x: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%; }

.header-bg {
  width: 100%;
  height: 100%;
  background-color: #1D1F1E;
  background: #204952;
  background: -moz-linear-gradient(top, #204952 0%, #212322 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #204952), color-stop(100%, #212322));
  background: -webkit-linear-gradient(top, #204952 0%, #212322 100%);
  background: -o-linear-gradient(top, #204952 0%, #212322 100%);
  background: -ms-linear-gradient(top, #204952 0%, #212322 100%);
  background: linear-gradient(to bottom, #204952 0%, #212322 100%); }

.vertical-align {
  display: block;
  text-align: center;
  font-size: 0;
  height: 100%; }

.vertical-align:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 5px; }

.header-text {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  opacity: 0;
  margin-top: -20px; }

.header-underline {
  display: block;
  width: 90%;
  height: 1vw;
  background-color: #FFFFFF;
  margin: 0 auto;
  z-index: 2;
  margin-top: 1%; }

.header-subtext {
  margin-top: 3%; }

/*triangles */
html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px;
  background-color: transparent; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 70px; }

.site-footer {
  background: white; }

/*# sourceMappingURL=main.css.map */
