.Header-wrap {
	padding: 10px;
	
	position: relative;
	margin: 0px auto;
	min-height: 560px;
	width: 100%;
	z-index: 10;
	.bg-img {
		position: absolute;
		overflow: hidden;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		backface-visibility: hidden;
		background-image: url("../img/background-header.jpg");
		background-size: cover;
		background-position: center center;
		background-color: #282828;
	}
}


.Top-navigation {
	position: relative;
	z-index: 20;
	.Logo-wrap a {
		position: fixed;
		top: 20px;
		left: 20px;

		font-size: 24px;
		padding: 10px;
		display: inline-block;
		color: white;

		@include easing-mixin-1;

		&:hover {
			opacity: 0.7;
		}
	}
}



// header part
/////////////////////////////

.header-container {
	padding: 5%;
	overflow-x: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}

.header-bg{
	width: 100%;
	height: 100%;
	background-color: #1D1F1E;
	background: rgb(32,73,82);
	background: -moz-linear-gradient(top,  rgba(32,73,82,1) 0%, rgba(33,35,34,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,73,82,1)), color-stop(100%,rgba(33,35,34,1)));
	background: -webkit-linear-gradient(top,  rgba(32,73,82,1) 0%,rgba(33,35,34,1) 100%);
	background: -o-linear-gradient(top,  rgba(32,73,82,1) 0%,rgba(33,35,34,1) 100%);
	background: -ms-linear-gradient(top,  rgba(32,73,82,1) 0%,rgba(33,35,34,1) 100%);
	background: linear-gradient(to bottom,  rgba(32,73,82,1) 0%,rgba(33,35,34,1) 100%);
}

.vertical-align{
	display: block;
	text-align: center;
	font-size: 0;
  	height: 100%;
}

.vertical-align:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 5px;
}

.header-text{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	z-index: 2;
	opacity: 0;
	margin-top: -20px;
}

.header-underline{
	display: block;
	width: 90%;
	height: 1vw;
	background-color: #FFFFFF;
	margin: 0 auto;
	z-index: 2;
	margin-top: 1%;
}

.header-subtext{
margin-top: 3%;
}
/*triangles */
