.Header-wrap {
	padding: 10px;
	
	position: relative;
	margin: 0px auto;
	min-height: 560px;
	width: 100%;
	z-index: 10;
	.bg-img {
		position: absolute;
		overflow: hidden;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		backface-visibility: hidden;
		background-image: url("../img/background-header.jpg");
		background-size: cover;
		background-position: center center;
		background-color: #282828;
	}
}


.Top-navigation {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 90px;

	.Logo-wrap a {
		position: fixed;
		top: 	15px;
		left: 	20px;

		font-size: 24px;
		padding: 10px;
		display: inline-block;
		color: white;
		font-weight: 400;

		@include easing-mixin-1;

		&:hover {
			opacity: 0.7;
		}
	}

	.menu-button {
		position: fixed;
		top: 	20px;
		right: 	20px;
	}
}



// header part
/////////////////////////////

.header-container {	
	overflow-x: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}

.header-bg{
	width: 100%;
	height: 100%;
	background-color: #282828;
	background-image: url('../img/header-bg.jpg');
	background-size: cover;
	background-position: center center;
}

.vertical-align{
	display: block;
	text-align: center;
	font-size: 0;
  	height: 100%;
  	position: relative;
	
}

.blck-bg {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	z-index: 10;
}

.intro-text {
	padding-top: 5%;
	position: relative;
	z-index: 31;
	display: inline-block;
	
	p,h2 {
		color: white;
	}
}



